@import "src/styles/alignment";
@import "src/styles/colors";
@import "src/styles/fonts";
@import "src/styles/interractions";

.footer {
  height: $footer-height;
  background: $background-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  user-select: none;

  &__links {
    display: flex;
    column-gap: 20px;

    &__link {
      background: #676767;
      padding: 5px;
      display: block;
      border-radius: 50%;

      &:hover {
        background: force-highlight(#676767);
      }

      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__year {
    @extend .text-label;
  }
}